<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/accueil.css">

  <script src="./././js/import.js"></script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Gestion de contacts" />
  <meta property="og:locale" content="fr_BE" />
  <meta property="og:type" content="Contacts manager" />
  <meta property="og:title" content="Contacts" />
  <meta property="og:description" content="Gestion de contacts">
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="CONTACTS" />
  <meta property="og:image" content="img/logo.png" />

  <meta name="theme-color" content="#ffffff">
  <title>Carnet d'adresses </title>

</head>

<body>





  <%- include('navBar.ejs'); -%>

  <main>


    <h1>Importer</h1>
    <!-- <button onclick="readTextFile('../import/tel.json', function(text) { var data=JSON.parse(text); console.log(data); })">Importer</button>
    -->


    <!-- -->
    <form action="/addContacts" method="post">
      Select a file: <input name="fileInput" type="file" id="myFile">
      <% var columns = [] %>
      <% for (var i = 1; i < columnNames.length;  i++ ) { %>
      <% columns.push(columnNames[i].COLUMN_NAME) %>
      <% } %>
      <input type="hidden" name="columnsHidden" value="<%= columns%>">
      <button type="submit">Process</button>
    </form>





  </main>


  <%- include('footer.ejs'); -%>




</body>

</html>