<nav>
  <ul>
    <div class="logoContainer">
      <img class="logo" src="../img/logo.png" alt="Logo">
    </div>

    <li>
      <a href="/accueil/orderBy=nom">
        <div class="iconContainer">

        </div>
        &#8611; Accueil
      </a>
    </li>

    <li>
      <a href="/agenda/orderBy=date">
        <div class="iconContainer">

        </div>
        &#8611; Agenda
      </a>
    </li>

    <li>
      <a href="/statistiques">
        <div class="iconContainer">

        </div>
        &#8611; Statistiques
      </a>
    </li>

    <li>
      <a href="/importer">
        <div class="iconContainer">

        </div>
        &#8611; Importer
      </a>
    </li>

    <li>
      <a href="/parametres">
        <div class="iconContainer">

        </div>
        &#8611; Paramètres
      </a>
    </li>


    <li>
      <a href="#signOut" id="signOutId">
        Se déconnecter
      </a>
    </li>
  </ul>
</nav>